.chats {
  position: relative;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header-bar {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.172);
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    z-index: 1;
    background-color: #075e54;
  }
  &__logo {
    font-size: 33px;
    font-weight: 700;
    color: rgb(220, 220, 220);
    padding-left: 40px;
  }
  &__search {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0 15px;
    background-color: rgb(240, 238, 238);
    border-radius: 20px;
    &-icon {
      font-size: 20px;
    }
    &-input {
      width: 400px;
      height: 40px;
      border: none;
      background-color: rgb(240, 238, 238);
      outline: none;
      border-radius: 10px;
      font-size: 15px;
      padding-left: 10px;
    }
  }
  &__modal {
    position: absolute;
    top: 70px;
    left: calc(50% - 225px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.208);
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: white;
    &__user {
      display: flex;
      gap: 20px;
      height: 60px;
      padding: 0 30px;
      align-items: center;
      &:hover {
        background-color: rgba(128, 128, 128, 0.345);
        cursor: pointer;
      }
    }
  }
  &__wrapper {
    display: flex;
    width: 100%;
    height: calc(100% - 70px);
  }
  &__left {
    position: relative;
    z-index: 0;
    width: 30%;
    background-color: #075e54;
    color: white;
    padding-top: 15px;
    overflow: auto;
    &__chatlist {
      padding: 8px 20px;
      cursor: pointer;
      &:hover {
        background-color: #0d7a6d;
      }
    }
  }
  &__right {
    position: relative;
    z-index: 0;
    width: 70%;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(/chatbg.jpg);
      opacity: 0.18;
      z-index: -1;
    }
    &-messages {
      height: calc(100% - 140px);
      overflow: auto;
    }
  }
  &__welcome {
    margin: auto;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.47);
    backdrop-filter: blur(1px);
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    &-text {
      font-size: 30px;
      font-weight: 600;
      color: #467283;
    }
  }
  &__profile-bar {
    display: flex;
    gap: 12px;
    align-items: center;
    background-color: #105149;
    backdrop-filter: blur(1px);
    padding: 10px 30px;
    color: white;
    margin-bottom: 10px;
  }
  &__message-input {
    border: none;
    outline: none;
    background-color: rgba(34, 34, 34, 0.489);
    margin-left: 20px;
    width: 55vw;
    height: 40px;
    border-radius: 20px;
    padding-left: 30px;
    color: white;
    font-size: 16px;
    &::placeholder {
      color: white;
    }
  }
  &__button {
    background-color: #105149;
    color: white;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
}
